.sidebar {
    padding: 0;
    margin-top: 0;
}

.sidebar .sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    width:250px;
    height: 100%;
    background-color: #5e5e5e;
}
.sidebar .sidebar-menu > li {
    display: block;
    margin: 0;
    padding: 0;
    border:0;
}
.sidebar .sidebar-menu > li > a {
    display: block;
    position: relative;
    margin: 0;
    border-bottom: 1px solid rgba(115,121,120,0.4);
    padding: 20px 15px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
}
.sidebar-menu a { color: black; }
.sidebar-menu a:hover { text-decoration: none; }
.sidebar-menu li.sub .submenu { display: none; }
.sidebar-menu li.sub.open  { display: block; }
.submenu { padding-left: 0; }
.submenu li {
    list-style: none;
    background-color: #2bd3ff;
}
.submenu li a {
    display: block;
    padding: 20px 15px;
    margin: 0;
}
.sidebar-menu > li.sub.open > a {
    background-color: rgba(250, 250, 250, 0.3);
}
.sidebar .sidebar-menu >li.active, .sidebar .sidebar-menu>li>a:hover {
    background-color: rgb(19, 178, 196);
}
.submenu li > a:hover {
    background-color: rgb(228,228,228);
}
.sidebar .sidebar-menu > li > a > i {
    font-size: 16px;
    top: 2px;
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 4px;
    display: inline-block;
    width: 1.25em;
    text-align: center;
}