.row{
margin:auto;
    text-align: center;
}

.feedBox{
    text-align: center;
    display: inline-block;
    height: 300px;
    width: 300px;
    border: 2px solid ;
    margin: 15px;
    margin-left: auto;
    margin-right:20px;
}
.imagebox {
    margin-left: auto;
    margin-right: auto;
    max-width: 61%;
    max-height: 150px;
}

.likebutton{
    height: 25px;
    padding: 2px;
    color: #ff2cf5;
    cursor: pointer;
    font-size: 15px;
}
.likebutton:active{
    color: #3cfcff;
    background-color: #5bc0de;

}
.feed{
    padding-left:10px;
}