body {font-family:  Georgia, serif;
}
* {box-sizing: border-box;}

.contactbox {
    color: #000000;
    top: 50px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding-bottom: 60px;
}

input[type=text], select, textarea {
    width: 100%;
    color: #000000;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

input[type=submit] {
    margin-left:130px;
    background-color: #add8e6;
    color: #000000;
    font-size: 15px;
    padding: 12px 20px;
    border: solid 2px #add8e6;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #87ceeb;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.6);
}

.submitbtn {
    background-color: #3ccac7;
    color: #000000;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    width: 100%;
    opacity: 0.9;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.submitbtn:hover {
    opacity: 1;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}