body {font-family:  Georgia, serif;}
* {box-sizing: border-box;}

.contactbox {
    margin-left: auto;
    margin-right: auto;
    width:450px;
    border: 1px solid #ccc;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

input[type=submit] {
    margin-left:130px;
    background-color: #add8e6;
    color: black;
    padding: 12px 20px;
    border: solid 2px #add8e6;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #87ceeb;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.6);
}

.submitbtn {
    background-color: #6eed5c;
    color: #000000;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.submitbtn:hover {
    opacity: 1;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}