.row{
margin:auto;
    text-align: center;
}

.feedBox{
    text-align: center;
    display: inline-block;
    height: 300px;
    width: 300px;
    border: 2px solid ;
    padding: 10px;

}
.image {
    max-height: 150px;
}

.likebutton{
    height: 20px;
    padding: 2px;
    color: #171eff;
    cursor: pointer;
}
.likebutton:active{
    color: #3cfcff;
    background-color: #5bc0de;

}
.feed{
    padding-left:10px;
}