
body{
    background-color: #101010;
}
.comicNavBox {
    float: left;
    background-color: #acbcec;
    border-bottom: 2px solid #000000;
    width: 100%;
}


.comicNavBox li {
    display: inline-block;
    font-size: 10px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    padding-left: 10px;
}

.comicNavBox li:hover {
    cursor: pointer;

}



/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {
    .sidenav,  .comicNavBox a{
        float: none;
        display: block;
    }
}