
body{
    background-color: #101010;
}
.comicNavBox {
    float: left;
    width: 100%;
}


.comicNavBox li {
    display: inline-block;
    font-size: 15px;
    color: #1917ff;
    text-align: center;
    text-decoration: none;
    padding-left: 10px;
}

.comicNavBox li:hover {
    cursor: pointer;

}



/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {
    .sidenav,  .comicNavBox a{
        float: none;
        display: block;
    }
}