.comicGenre{
    position: sticky;
    top:0;
    float: left;
    width: 100%;
    background-color: #171717;
    z-index: 1;
}


.comicGenre ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #171717;
}

.comicGenre a {
    float: left;
}

.comicGenre a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}

.comicGenre a:hover {
    background-color: #111;
}

.comicGenre a:active {
    background-color: #111;
}