#hiddenArrow{
    display: none;
}
#DivForHoverItem:hover #hiddenArrow {
    display:block;
}

.langdropbtn  {
    width:100px;
    background-color: #c7cfff;
    color: #000000;
    padding: 10px 10px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.language {
    position: relative;
    float: right;
    margin-right: 10%;
}

.language-content {
    float: none;
    width: 100%;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.language-content ul{
    list-style-type: none;
    float: left;
}
.language-content a{
    display: block;
    color: black;
    text-align: left;
    padding: 10px 10px;
}

.language-content a:hover {
    background-color: #f1f1f1;
    cursor:pointer;
}

.language:hover .language-content {
    display: block;
}

.language:hover .dropbtn {
    background-color: #238e82;
}