#hiddenArrow{
    display: none;
}
#DivForHoverItem:hover #hiddenArrow {
    display:block;
}

.langdropbtn  {
    width:100%;
    background-color: #c7cfff;
    color: #000000;
    padding: 20px 15px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.fa-arrow-down{
}

.language {
    position: relative;
    float: right;
    margin-right: 10%;
}

.language-content {
    float: none;
    width: 100%;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.language-content ul{
    list-style-type: none;
    float: left;
}
.language-content a{
    display: block;
    color: black;
    text-align: left;
    padding: 12px 16px;
}

.language-content a:hover {
    background-color: #f1f1f1;
    cursor:pointer;
}

.language:hover .language-content {
    display: block;
}

.language:hover .dropbtn {
    background-color: #238e82;
}
.product{
    /*margin:50%;*/
}

.featured{
    float: left;
    transform: rotate(270deg);
    font-size: 20px;
    border: 2px solid rgba(255,255,255,0.3);
    color: #000000;
    width: 80px;
    margin-top: 7%;
    /*margin-left: 5%;*/
    background-color: rgba(255,255,255,0.1);

}
.latest{
    display: block;
    float: left;
    transform: rotate(270deg);
    font-size: 20px;
    border: 2px solid #faebcc;
    color: #000000;
    width: 80px;
    background-color: rgba(255,255,255,0.1);
    margin-top: 14%;
    /*margin-left: 2.5%;*/

}