body{
 background-color: #ffffff;
}

.slide{

}
.carousel{
    padding-top: 2.5%;
    height: 620px;
    max-height: 80%/*657px*/;

}
.slideImage{
    margin-left: auto;
    margin-right: auto;
    width: 100%;


}

.text2{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    color:#ffffff;
    background-color: #ff0000;
}
.btnModal button{
    display: inline-block;
    background-color: #ff0000;
    color :#ffffff;
    padding: 10px 20px;
    float: right;
    border: 2px solid #000000;
    box-shadow: #faebcc;
}

.btnModal{
    padding: 50px;
}

.loginBtn {
    background-color: #6495ed;
    color: #000101;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    font-size: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.loginContainer {
    top: 50px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    width: 350px;
    padding: 16px;
    background-color: #ffffff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/*ul li ul {*/
    /*background: orange;*/
    /*visibility: hidden;*/
    /*opacity: 0;*/
    /*min-width: 5rem;*/
    /*position: absolute;*/
    /*transition: all 0.5s ease;*/
    /*margin-top: 1rem;*/
    /*left: 0;*/
    /*display: none;*/
/*}*/
